<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>settings</key>
    <array>
        <dict>
            <key>faculty</key>
            <string>WTF</string>
            <key>year</key>
            <string>1</string>
            <key>department</key>
            <string>MRIT</string>
            <key>group</key>
            <string>1</string>
        </dict>
        <dict>
            <key>faculty</key>
            <string>FHI</string>
            <key>year</key>
            <string>5</string>
            <key>department</key>
            <string>OV</string>
            <key>group</key>
            <string>4</string>
        </dict>
    </array>
    </dict>
</plist>